<div class="jumbotron">

    <!-- Formulario -->
        <h1 style="color:blue;">Ingrese datos</h1>
        <br>
        <form action="/productos" method="post">
            <div class="form-group">
                <label for="title"><b>Nombre</b></label>
                <input id="title" class="form-control" type="text" name="title" onchange="" required>
            </div>
            <div class="form-group">
                <label for="price"><b>Precio</b></label>
                <input id="price" class="form-control" type="number" name="price" required>
            </div>
            <div class="form-group">
                <label for="thumbnail"><b>Icon url</b></label>
                <input id="thumbnail" class="form-control" type="text" name="thumbnail" required>
            </div>
            <button class="btn btn-success mt-3 mb-5">Enviar</button>
        </form>
        <!-- Final Formulario -->
</div>