<div class="jumbotron container mt-3 d-flex justify-content-around "> 
    <h1> LOGIN USUARIO</h1>
    <form action="/login" method="post">
        <input type="text" name="username" id="username" required>
        <button class="btn btn-success">Enviar</button>
    </form>
</div>