<div class="container m-5">
        <h3>Chat WebSocket!</h3>
        <form id="chat">
            <div class="form-group">
                <label for="user">Email:</label>
                <input type="email" class="form-control" id="user" aria-describedby="userComment" required>
                <small id="userComment" class="form-text text-muted">Usuario que se utilizara al enviar mensajes.</small>
            </div>
            <div class="form-group">
                <label for="contenidoMensaje">Mensaje:</label>
                <textarea class="form-control" id="contenidoMensaje" rows="3" required></textarea>
            </div>    
            <button class="btn btn-success" onclick="enviarMensaje()">Enviar</button>
        </form>
        <hr>
        <div id="historial">
            
            <!-- aqui se renderizan los mensajes recibidos por parte del server -->
        </div>
</div>
