<div class="jumbotron container mt-3 d-flex align-content-center">
    <form action="/logout" method="get">
        <h1 class=""> Bienvenido usuario {{username}}</h1>
        <button class="btn btn-warning">Logout</button>
    </form>
    
</div>
